/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

@font-face {
  font-family: 'BronoAceSc';
  src: url('./assets/BrunoAceSC-Regular.ttf') format('truetype'); 
  font-weight: normal; /* Specify the weight if needed */
  font-style: normal; /* Specify the style if needed */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



:root {
  --color-white--1: #ffff;
  --color-brown--1: #882828;
  --color-brown--2: #780000;
  --color-deep-pink: #F35959;
  --color-deep-pink-2: #D44848;
  --color-light-green: #22D982;
  --color-dark--0: #000000;
  --color-light--grey: #5E5E5E;
  --color-dark--grey: #262626;
  --color-deep--grey: #3F3F3F;
  --color-pastel--blue: #B7E4FE;
  --color-vivid--shade: #196BE5;
  --color-royal--blue: #0527D8;
  --color-vibrant-royal-blue: #0804BE;
  --color-vivid-scarlet: #FF2323;
  --color-vivid-lavender: #6750F3;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}



body {
  font-family: "BronoAceSc", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}


input,
textarea {
  width: 100%;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem 0;
  border: none;
  background: none;
  color: var(--color-white--1);
  border-bottom: 2px solid #fff;
}

input:focus {
  outline: none;
}

input::placeholder{
  color: var(--color-white--1);
  font-weight: 800;
}


/* .cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
} */
